@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 354.8 50% 95%;
    --foreground: 354.8 2.5% 7.5%;
    --card: 354.8 25% 95%;
    --card-foreground: 354.8 2.5% 12.5%;
    --popover: 354.8 50% 97.5%;
    --popover-foreground: 354.8 97.5% 5%;
    --primary: 354.8 100% 63.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 354.8 20% 80%;
    --secondary-foreground: 0 0% 0%;
    --muted: 32.8 20% 90%;
    --muted-foreground: 354.8 2.5% 37.5%;
    --accent: 32.8 20% 85%;
    --accent-foreground: 354.8 2.5% 12.5%;
    --destructive: 0 75% 40%;
    --destructive-foreground: 354.8 2.5% 95%;
    --border: 354.8 25% 66%;
    --input: 354.8 25% 34%;
    --ring: 354.8 88.7% 45.3%;
    --radius: 1rem;
    --sidebar-background: 355, 50%, 90%;
    --sidebar-foreground: 355, 3%, 7%;
    --sidebar-primary: 355, 100%, 57%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 33, 20%, 81%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 355, 25%, 63%;
    --sidebar-ring: 345, 98%, 45%;
}

.dark {
    --background: 354.8 30% 7.5%;
    --foreground: 354.8 2.5% 95%;
    --card: 354.8 25% 5%;
    --card-foreground: 354.8 2.5% 95%;
    --popover: 354.8 30% 5%;
    --popover-foreground: 354.8 2.5% 95%;
    --primary: 354.8 100% 63.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 354.8 20% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 32.8 20% 20%;
    --muted-foreground: 354.8 2.5% 62.5%;
    --accent: 32.8 20% 20%;
    --accent-foreground: 354.8 2.5% 92.5%;
    --destructive: 0 75% 40%;
    --destructive-foreground: 354.8 2.5% 95%;
    --border: 354.8 25% 34%;
    --input: 354.8 25% 34%;
    --ring: 354.8 88.7% 45.3%;
    --radius: 1rem;
    --sidebar-background: 355, 30%, 10%;
    --sidebar-foreground: 355, 3%, 100%;
    --sidebar-primary: 355, 100%, 51%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 33, 20%, 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 355, 25%, 32%;
    --sidebar-ring: 345, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .border-test {
    @apply border border-muted-foreground  dark:border-muted-foreground;
  }
  .normal-sentences {
    @apply text-sm text-foreground dark:text-foreground md:text-base lg:text-lg;
  }
  .medium-sentences {
    @apply text-lg text-foreground dark:text-foreground sm:text-xl md:text-3xl;
  }
  .large-sentences {
    @apply text-xl text-foreground dark:text-foreground md:text-3xl lg:text-5xl;
  }
  .border-image {
    @apply shadow-[13px_-13px] shadow-primary;
  }
}
